    {% if articles %}
    {% set css_class = 'span8 offset2' %}
    {% if articles and PROJECTS and LANDING_PAGE_ABOUT %}
    {% set css_class = 'span12' %}
    {% endif %}
            <h4 id="recent-posts">Recent Posts <a id="allposts" href="{{ SITEURL }}/archives.html">all posts</a></h4>
        <div class="recent-posts">
            {% for article in articles %}
            {% from '_includes/_defaults.html' import RECENT_ARTICLES_COUNT with context %}
            {% if loop.index0 < RECENT_ARTICLES_COUNT %}
            <article>
                <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} {%if article.subtitle %} <small> {{ article.subtitle }} </small> {% endif %} </a>
                <section>
                    posted in
                <a href="{{ SITEURL }}/categories.html#{{ article.category.slug }}-ref">{{ article.category }}</a>
                <div class="recent-posts-time">
                <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
                </div>
                </section>
            </article>
            {% endif %}
            {% endfor %}
        </div>
    {% endif %}
